.my-pets h1{
  margin-left: 40px;
 }

 .my-pets a {
  margin-left: 40px;
 }

.pet-bookings{
  font-size: 14px;
  line-height: 1.4;
  list-style: none;
  align-self: center;
  padding-right: 40px;
}
.pet-bookings p{
  text-align: right;
}
.booking-user{
  text-align: right;
}
