.container h1 {
  padding: 40px 0;
}

.booking-picture {
  height: 100%;
  width: 7vw;
  object-fit: cover;
}

.booking-status {
  color: #008001;
  &:hover {
    text-decoration: none;
    color: #00af00;
  }
}

.booking-h2 {
  font-family: $headers-font;
  font-weight: lighter;
  margin: 25px 0;
}

#h2-past-bookings {
  margin-top: 60px;
}
