// Import page-specific CSS files here.
@import "home";
@import "show";
@import "bookings";
@import "admin";

.ui-card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

a {
  color: $ui-black;
  &:hover {
    color: $ui-black;
    text-decoration: none;
  }
}

.no-result-message{
  padding-top: 20px;
  font-size: 18px;
  opacity: 0.5;
}
