.pet-description {
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: solid $ui-gray;
  border-bottom: solid $ui-gray;
}
.img-pet {
  margin-top: 60px;
  margin-bottom: 30px;
}

.pet-price {
  margin-bottom: 30px;
}

.info  {
  justify-content: space-between;
  display: flex;
}

.booking-details {
  padding-top: 20px;
  padding-bottom: 20px;
}
.total-cost p {
  border-top: solid $ui-gray;
  padding-top: 10px;
}

.owner-info {
  display: flex;
  align-items: center;
  p {
    margin: 0 10px;
  }
}

