<main class="container">
  <div class="row">
    <div class="col-12">
      <ul class="pets-list">
        <% @pets.each do |pet| %>
        <li class="ui-card">
          <%= cl_image_tag (pet.photos[0] ? pet.photos[0].key : 'tjscfsjpv2f4jhvkd4v9') %>
          <div class="pet-card-name">
            <%= link_to pet[:name], pet_path(pet) %>
          </div>
          <div class="pet-card-distance">
            <% if user_signed_in? %>
              <p><%= pet.distance(current_user.geolocation) %> kms away</p>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>
