<div class="container margin-top-header-height">
  <div class="row" >
    <div class="col-3 mt-3">

      <%=@pet.name%>
      <%=@pet.pet_type%>

      <div class="avatar">
      </div>

      <div class="pet-description">
      <%=@pet.description%>
      </div>
      <%=@pet.price_in_eur%>


    </div>
  </div>
</div>
