<main class="container">
  <h1>Welcome <%= @current_user.username %> to your bookings </h1>

  <h2 class="booking-h2"><em>Upcoming</em></h2>
  <div class="row">
    <% @upcoming_bookings.each do |booking| %>
      <div class="col-12">
        <%= render partial: 'booking_card', locals: { booking: booking } %>
      </div>
    <% end %>
  </div>

  <h2 id="h2-past-bookings" class="booking-h2"><em>Past</em></h2>
  <div class="row">
    <% @past_bookings.each do |booking| %>
      <div class="col-12">
        <%= render partial: 'booking_card', locals: { booking: booking } %>
      </div>
    <% end %>
  </div>
</main>
