<footer>
  <p><i class="far fa-copyright"></i> Airbntiger 2020</p>
  <ul>
    <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i> Instagram</a></li>
    <li><a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i> Twitter</a></li>
    <li><a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i> Facebook</a></li>
  </ul>
</footer>
