    <header>
      <nav class="navbar-base navbar-collapse">
        <div>
          <%= image_tag "tiger.svg", alt: "Tiger Illustration", height: 45 %>
        <input  class="nav-btn nav-search" type="text" placeholder="Search..">
        </div>
        <div>
          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, class: 'nav-btn nav-hover', method: :delete %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-btn nav-hover' %>
            <%= link_to "Log in", new_user_session_path, class: 'nav-btn nav-hover' %>
          <% end %>
        </div>
      </nav>
    </header>
