    <header>
      <nav class="navbar-base navbar-collapse">
        <div>
          <%= image_tag "tiger.svg", alt: "Tiger Illustration", height: 45 %>
        <input  class="nav-btn nav-search" type="text" placeholder="Search..">
        </div>
        <div>
        <a  class="nav-btn nav-hover" href="#">Sign up Button</a>
        <a  class="nav-btn nav-hover" href="#">Log in Button</a>
        </div>
      </nav>
    </header>
