
.container h1 {
  padding-top: 20px;
}

.booking-picture {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.booking-status {
  color: #008001;
}

.bookings-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;

}

.bookings-list > li {
  color: #000;
}


.ui-bookings-card {
  display: flex;
  background-color: white;
  height: 120px;
  margin: 25px 0;
  width: 1000px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
}
