
.container h1{
  padding-top: 20px;
}
.ui-bookings-card{
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,.3);
  margin: 30px 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 40%;

}

.booking-status{
  margin-left: 40px;
  color: green;
  margin-top: 10px;

}
