.nav-btn {
  margin: 10px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $ui-black;
  }
}

.form-actions-btn{
  background-color: $ui-gray;
  border-radius: 10px;
  width: 80px;
  margin-bottom: 10px;
  &:hover{
    color: $ui-orange;
  }
}

.login-form-btn{
  background-color: $ui-gray;
  border-radius: 10px;
  width: 100px;
  margin: 10px 0 20px 0;
  color: black;

  &:hover{
    color: $ui-orange;
  }

}

.ui-btn{
  margin: 10px 0 20px 0;
  color: black;

  &:hover{
    color: $ui-orange;
  }

}
.booking-btn{
  text-align: center;
}
.booking-btn input {
  background-color: $ui-gray;
  border-radius: 5px;
  margin-top: 10px;
  border-style: none;
  padding: 5px;
  width: 80px;

  &:hover{
    color: $ui-orange;
  }

}
.edit-pet-btn{
  margin: 10px 0 20px 15px;
  color: black;
  &:hover{
    color: $ui-orange;
  }

}
.delte-pet-btn{
  margin: 10px 0 20px 10px;
  color: black;
  &:hover{
    color: $ui-orange;
  }
}
.view-btn{
  color: black;
  font-size: 12px;
  margin-left: 10px;
  padding: 5px;
  &:hover{
    color: $ui-orange;
  }
}
.edit-btn{
color: black;
font-size: 12px;
padding: 5px;
  &:hover{
    color: $ui-orange;
  }

}
