footer {
  background-color: #393e46;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: solid #f3f3f3;
  color: white;
  p {
    margin: 0;
  }
  a {
  color: white;
  }

  a:hover {
    color: #f39422;
  }
}
