.form-input {
  border-radius: 25px;
}

// for file inputs, styling the label to be the button will work
.file-input {
  display: none;
}

label.file {
  border: 1px solid #dfdfdf;
  display: block;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #efefef;
  padding: 4px 10px;
}