.pet-description {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: solid #d4d7dd;
  border-bottom: solid #d4d7dd;
}
.img-pet {
margin-top: 60px;
margin-bottom: 30px;

}

.pet-price {
  margin-bottom: 30px;
}

.info  {

  justify-content: space-between;


}
