
  <footer class="footer">
    <p><i class="far fa-copyright"></i> Airbntiger</p>
    <ul>
      <li><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a> Instagram</li>
      <li><a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i></a> Twitter</li>
      <li><a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a> Facebook</li>
    </ul>
</footer>
